<div class="p-4">

    <!-- heading bar -->
    <div class="max-w-6xl flex flex-col my-10 mx-auto">
        <div class="flex items-end justify-between my-5">

            <!-- heading -->
            <h1 class="text-3xl">Your cart</h1>

            <!-- continue shopping -->
            <a href="{{ routes.all_products_collection_url }}" class="text-blue-600 hover:text-blue-800 font-medium underline">Continue Shopping</a>

        </div>
    </div>

    <!-- products section -->
    <div class="max-w-6xl flex flex-col my-10 mx-auto">
        <form action="{{ routes.cart_url }}" method="post" novalidate>
            <table class="table-auto divide-y divide-gray-200 my-4 w-full">
                <thead>
                    <th class="px-6 py-3 text-left text-small font-medium text-gray-500">Product</th>
                    <th class="px-6 py-3 text-left text-small font-medium text-gray-500">Quantity</th>
                    <th class="px-6 py-3 text-left text-small font-medium text-gray-500">Total Price</th>
                </thead>

                <tbody>

                    {%  for item in cart.items %}
                      
                        <tr class="table-row">

                            <!-- product image -->
                            <td class="py-4 px-2 flex flex-col justify-center">
                                <a href="{{ item.url }}">
                                    {% if item.image %}
                                        <img src="{{ item.image | img_url: 'small' }}" alt="{{ item.title | escape }}" class="w-20 h-20 object-cover border" height="" width="" />
                                    {%  else %}
                                        {{ 'product-1' | placeholder_svg_tag: 'w-20 h-20 object-cover border' }}
                                    {% endif %}
                                </a>
                            </td>
                            
                            <td class="py-4 px-2 flex flex-col justify-center">
                                <!-- product link/ title -->
                                <a href="{{ item.url }}" class="my-1">{{ item.product.title | truncatewords: 5 }}</a>

                                <!-- product variant name -->
                                <span class="text-sm text-gray-500 my-1">{{ item.variant.title }}</span>

                                <!-- remove item button -->
                                <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0" class="text-sm font-medium text-red-500 my-1">remove</a>
                            </td>


                            <!-- quantity -->
                            <td class="py-4 px-2">
                                <input type="number" class="w-20 border p-2" name="updates[]" value="{{ item.quantity }}" min="1" id="updates_{{ forloop.index }}" />
                            </td>

                            <td class="py-4 px-2">
                                {{ item.line_price | money }}
                            </td>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>

            <div class="flex flex-col md:flex-row items-center justify-between">
                <div class="w-full my-3"></div>
                <div class="w-full my-4 md:w-80">
                    h3
                </div>
            </div>
        </form>
    </div>
</div>